<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Details Page for <%= name %></h1>
    <img src="<%= img %>" alt="">
    <p>Favorite Food: <%= favorite_food %></p>
    <p>Age: <%= age %></p>
    <p>sleeping spot: </p>
    <ul><% for (let x of sleeping_spot) { %>
         <li> 
            <p> <%= x %> </p> 
        </li>
        <% } %>
    </ul>
</body>
</html>